---
layout: default
permalink: /front-page/
header:
  image: '/assets/images/IslamAly1bio.jpg'
include_categories:
 - archive
 - events
---

{% include page__hero.html %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">

    {% for current_category in page.include_categories %}
        {% capture  c %}{{ current_category }}{% endcapture %}

        <h2 class="archive__category">{{ c }}</h2>
        {% include category-row.html category_row=site.posts category=c %}
    {% endfor %}


  </div>
</div>