---
layout: default
id: front-page
classes:
  - front-page
header: true
excerpt: "Driven by questions about displacement and refuge, history and experience, Friends, Peace, &amp; Sanctuary explores art’s capacity to build empathy and create a deeper sense of belonging."
include_categories:
 - events
 - works
---

{% include page__hero.html %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div id="{{ page.id }}">

    {% for current_category in page.include_categories %}

        {% assign c = current_category %}

        <a class="archive__category" href="/{{ c }}"><h1><span class="ar">{{site.data.translations.categories[c]}}</span><span class="bold"> / </span><span class="en">{{ c }}</span></h1></a>

        {% include category-row.html cat = c %}

    {% endfor %}


  </div>


    <div id="widgets">

    <a href="https://instagram.com/{{ site.facebook.username }}"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i></a>


    <!-- Instagram Widget Embed Start -->
    <!-- <div class="instawidget" data-user-name="fpsbookarts" data-amount="4" data-grid="2"></div> -->
    <!-- <script type="text/javascript" src="//www.stadget.com/cdn/widget-init.min.js"></script>
     --><!-- Instagram Widget Embed End -->

    <div id="instagram-feed" data-user-name="{{ site.instagram.username }}"></div>

    <a href="https://twitter.com/{{ site.twitter.username }}"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i></a>

    <a class="twitter-timeline" data-width="350" data-height="500" data-dnt="true" data-chrome="noheader" data-link-color="#e44c1c" href="https://twitter.com/fpsbookarts?ref_src=twsrc%5Etfw">Tweets by fpsbookarts</a>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
</div>