---
layout: default
id: front-page
header:
  image: '/assets/images/IslamAly1bio.jpg'
include_categories:
 - events
 - works
---

{% include page__hero.html %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div id="{{ page.id }}">

    {% for current_category in page.include_categories %}

        {% assign c = current_category %}

        {{ site.data.test.test.archive }}

        <a href="/{{ c }}"><h2 class="archive__category"><span class="ar">{{site.data.translations.categories[c]}}</span><span class="bold"> / </span><span class="en">{{ c }}</span></h2></a>

        {% include category-row.html cat = c %}

    {% endfor %}


  </div>
</div>