<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ '/' | absolute_url }}">

          <img src="{{ '/assets/images/pfsv_final.svg' | prepend: site.baseurl_root }}" alt="Friends Peace and Sanctuary" />

        </a>

        <ul class="visible-links">

          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li {% if link.children %}id="{{ link.title | downcase }}"{% endif %} class="masthead__menu-item {% if link.children %}has-children{% endif %}"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>

            {% if link.children %}

            <ul {% if link.children %}id="{{ link.title | downcase }}"{% endif %} class="menu-item-children hidden">
              {% for child in link.children %}

              {% assign domain = site.url | append: site.baseurl %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ child.title }}</a></li>

              {% endfor %}
            </ul>

            {% endif %}

          {% endfor %}
        </ul>
      

        <button type="button">
        <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</span>
        <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
        
      </nav>
    </div>
  </div>
</div>