{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | prepend: baseurl_root }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | prepend: baseurl_root }}"></script>
{% endif %}

<script type="text/javascript">
    

    $(document).on('scroll', function(d){

        var currTop = $(this).scrollTop();

        if ( currTop > 150 ){
            $('.site-title img').addClass('little');
        } else {
            $('.site-title img').removeClass('little')
        }
    });

    $('#site-nav.greedy-nav .visible-links li.has-children span').on({

      click: function(){
        $(this).parent().find('ul').toggleClass('show');
      }

    });

    $.ajax({
        url: "https://www.instagram.com/fpsbookarts/?__a=1",
        dataType: 'json'
      }).done(function( data ){

          var el = $('#instagram-feed');          
          var thumbs = data.graphql.user.edge_owner_to_timeline_media.edges;

          thumbs.forEach(function(v,i) {

            var thumb_url = v.node.thumbnail_resources[1].src;
            var post_url = "https://instagram.com/p/" + v.node.shortcode;

            var post = $('<a>').attr('href', post_url)
                .addClass('post');
                post.append('<div>').find('div')
                .css('background-image', 'url(' + '"' + thumb_url + '")');

            el.append(post);

          });
        });

</script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
