{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | prepend: baseurl_root }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | prepend: baseurl_root }}"></script>
{% endif %}

<script type="text/javascript">
    
    $('#site-nav.greedy-nav .visible-links li.has-children').on('mousenter mouseleave', function(e){
        var curr_id = $(e.target).attr('id');
        $('#site-nav.greedy-nav .visible-links ul.menu-item-children').toggleClass('hidden');
    });

</script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
