// /*----- Mixins ----- */

@mixin arabic(){

    direction: rtl;
    font-family: "noto_sans_arabic_uiregular";
}

@mixin size-transition(){
      -webkit-transition: font-size .3s;
      -moz-transition: font-size .3s;
      -o-transition: font-size .3s;
      transition: font-size .3s;
}

@mixin background-transition(){
      -webkit-transition: opacity .7s;
      -moz-transition: opacity .7s;
      -o-transition: opacity .7s;
      transition: opacity .7s;
}

@mixin color-transition(){
      -webkit-transition: color .5s;
      -moz-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
}

/* ----- end Mixins ----- */

/* ----- Global ----- */

.page__content {
  p, li, dl {
    font-size: $type-size-4;
  }
}

.ar {
    p, ul, li, h1, h2, h3, h4, h5 {
        @include arabic;
    }
}

a.link-ar {
    direction: rtl;
    font-family: "noto_sans_arabic_uiregular";
    // font-family: "noto_kufi_arabicregular";
}

html {
    background-image: -webkit-linear-gradient(top, rgba($blue,.8) 60%, rgba($gold,.7)), url('/assets/images/IslamAly1bio.jpg');
    background-size: cover;
    background-attachment: fixed;
}

div#main {
    background: rgba($light-gray, .9);
}

div.page__inner-wrap {
    padding-top: 2rem;

    header { 
        padding-top: 1rem;
    }
}

nav#site-nav.greedy-nav  {

    background-color: rgba($light-gray, .9);
    
    a.site-title img {
        height: 125px;
        max-width: 250px;
        margin: .25rem .8rem;
    }

    li a:hover {
        // text-decoration: none;
    }
}

div.page__footer {
        background-color: rgba($light-gray, .9);

        .page__footer-follow { 
            display: inline-block;
            float: left;
            max-width: 500px;

            a .fa {
                @include color-transition();
            }

            a:hover .fa, a:focus .fa {
                color: $salmon;
            }
        }
        .page__footer-copyright {
            max-width: 500px;
            float: right;
            margin-top: 1em;
            vertical-align: middle;
        }
}

footer .fa { font-size: 2rem; }

/* ----- end Global ----- */

/* ----- end Home ----- */

#home {

    padding: 1rem;

    p:first-child {
        @include arabic;
        font-weight: 600;
    }

    hr { 
        border-top-color: rgba($gold,.5);
        width: 100%;
    }

    ul {
        list-style: none;
        border-left: unset;
        border-right: unset;
        display: inline-block;
        width: 45%;
        padding: unset;
        margin: unset;
        margin-top: 1rem;

        @media screen and (max-width: $small){
            display: none;
        }
    }

    ul li { 
        height: 10rem;
    }

    ul:first-of-type {
        
        @include arabic;
        font-weight: 600;
        float: left;
    }

    ul:last-of-type {
        float: right;
    }

    div {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        div {
            margin-top: 1rem;
        }

        div, div a{
            width: 300px;
            height: 300px;
            background-size: cover;

            text-decoration: none !important;
            vertical-align: bottom;

            h2 {

                opacity: 0;
                color: $dark-gray;
                height: 75%;
                margin-bottom: 12.5%;
                display: block;
                padding: 100px .5rem 1rem .5rem;
                text-align: center;
                background: rgba($light-gray, .5);

                @include background-transition;
            }
        }

        div a:hover h2,
        div a:focus h2 {
            opacity: 1;
        }
    }

    div div:nth-child(1){
        background-image: url('/assets/images/IslamAly2bio.jpg');
        background-position: center;         
    }
    div div:nth-child(2){
        background-image: url('/assets/images/MaureenCumminsbio1.jpg');        
    }
    div div:nth-child(3){
        background-image: url('/assets/images/ErikRuinbio1.jpeg');        
    }
    div div:nth-child(4){
        background-image: url('/assets/images/CourtneyBowlesbio.jpg');        
    }
    div div:nth-child(5){
        background-image: url('/assets/images/MarkStrandquistbio.jpg');
        background-position: center;       
    }

    h1 {
        margin: 2rem 0;
        text-align: center;
        clear: both;
    }

}

#home #contributing-artists {

    display: unset;

    column-count: 2;
    -webikit-column-count: 2;
    -moz-column-count: 2;

    column-gap: 0px;
    -webkit-column-gap: 50px;
    -moz-column-gap: 0px;

    float: unset;
    margin-left: 12.5%;
    width: 75%;
    display: block;

    ul {

        display: unset;
        float: unset;
        width: unset;
        padding: unset;
        margin: unset;
        direction: unset;
    }

    @media screen and (max-width: $small){
        column-count: unset;
        -webikit-column-count: unset;
        -moz-column-count: unset;
    }

    li {
        font-family: $sans-serif;
        height: unset;
        text-align: center;
    }

    p {
        padding-top: 1rem;
        text-align: center;
        -webkit-column-span: all;
    }
}

/* ----- end Home ----- */

/* ----- Credits ----- */

#credits {

    padding: 1rem;
    
    p {
        padding-top: 2rem;
        margin-bottom: .25rem;
    }

    h3 {
        margin-top: 0;
    }

}

img.pew-logo {
    width: 200px;
    padding: 2rem 1rem 3rem 1rem;
}

// ----- end Credits