// /*----- Mixins ----- */

@mixin arabic(){

    direction: rtl !important;
    font-family: "noto_sans_arabic_uiregular" !important;
}

@mixin english(){

    direction: ltr;
    font-family: $sans-serif;
}

@mixin size-transition(){
      -webkit-transition: font-size .3s;
      -moz-transition: font-size .3s;
      -o-transition: font-size .3s;
      transition: font-size .3s;
}

@mixin background-transition(){
      -webkit-transition: opacity .7s;
      -moz-transition: opacity .7s;
      -o-transition: opacity .7s;
      transition: opacity .7s;
}

@mixin color-transition(){
      -webkit-transition: color .5s;
      -moz-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
}

@mixin background-color-transition(){
      -webkit-transition: background-color .5s;
      -moz-transition: background-color .5s;
      -o-transition: background-color .5s;
      transition: background-color .5s;
}

@mixin opacity-transition(){
      -webkit-transition: opacity .5s;
      -moz-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s;
}

@mixin linear-gradient($direction, $img-path, $color-stops...) {

    @if $img-path != 'none'{
      background-image: -o-linear-gradient($direction, $color-stops), url($img-path);
      background-image: -moz-linear-gradient($direction, $color-stops), url($img-path);
      background-image: -webkit-linear-gradient($direction, $color-stops), url($img-path);
      background-image: linear-gradient($direction, $color-stops), url($img-path);
    } @else {
      background-image: -o-linear-gradient($direction, $color-stops);
      background-image: -moz-linear-gradient($direction, $color-stops);
      background-image: -webkit-linear-gradient($direction, $color-stops);
      background-image: linear-gradient($direction, $color-stops);
  }
}

/* ----- end Mixins ----- */

/* ----- Globals ----- */

.page, .page .page__inner-wrap .page__content {
    max-width: $large;
}

.page__content {
  p, li, dl {
    // font-size: $type-size-4;
  }
}

.ar {

    p, ul, li, h1, 
    h2, h3, h4, h5, span {
        @include arabic;
    }
}

p.ar, ul.ar, li.ar, h1.ar, 
h2.ar, h3.ar, h4.ar, h5.ar, span.ar {
    @include arabic;
}

.en {
    p, ul, li, h1, 
    h2, h3, h4, h5, span {
        @include english;
    }
}

p.en, ul.en, li.en, h1.en, 
h2.en, h3.en, h4.en, h5.en, span.en {

    @include english;
}

.bold {
    font-weight: 600;
}

a.link-ar {
    direction: rtl;
    font-family: "noto_sans_arabic_uiregular";
}

div.page__inner-wrap {

    padding-top: 1rem;

    header { 
        padding-top: 1rem;
    }
}

hr { 
    border-top-color: rgba($gold,.5);
    width: 100%;
}

.ct {
    @include color-transition();
}

.ct:hover {
    color: $salmon !important;
}

/* ----- End Globals ----- */

/* ----- Default Page Layout ----- */

// Masthead

div.masthead {

    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    border: none;

    & .masthead__inner-wrap {
        padding: 0 0 20px 0;
    }
}

// Nav

#site-nav.greedy-nav  {

    background-color: rgba($light-gray,0);
    @include linear-gradient(0deg,none, rgba($light-gray,0),$light-gray 50px);
    padding: 0 1rem;

    button { 
        margin-right: -1rem;
        background-color: rgba(255,255,255,0);
    }

    .navicon,
    .navicon:before,
    .navicon:after {
        background-color: $blue;
    }

    .close .navicon {
        background-color: rgba(255,255,255,0);
    }

    a.site-title img {

        height: 150px;
        max-width: 250px;
        margin: .25rem .8rem;

        -webkit-transition: height .4s;
        -moz-transition: height .4s;
        -o-transition: height .4s;
        transition: height .4s;

        @media screen and (max-width: $small){
            margin: 1.75rem 0 0 0;
            height: 75px;
        }
    }

    a.site-title img.little {
        height: 75px;
    }

    li span.en {
        text-transform: capitalize;
    }
}

#site-nav.greedy-nav .visible-links {

    li {
        max-height: 2.5rem;
    }

    &>li {
        text-align: center;
    }

    a, span {
        transition: initial;
    }

    li > span,
    li > span + a { display: inline-block; }

    & > li > span + a, li > a { 
        margin-left: 0;

        position: relative;
        text-decoration: none;
    }

    li.child {
        display: none;
    }

    @media screen and (min-width: $small){
            overflow: visible;
    }
}

#site-nav.greedy-nav .hidden-links {

    li.child {
        display: block;
    }

    span.caret {
        display: none;
    }
}

#site-nav .visible-links li.has-children {

    span.caret {
        cursor: pointer;

        @media screen and (max-width: $small){
            display: none;
        }
    }
}

#site-nav ul.menu-item-children {

    position: relative;
    margin-top: -.5rem;
    left: 0rem;
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background: $background-color;
    box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);
    visibility: hidden;
    opacity: 0;
    @include opacity-transition();

    &.show {
        visibility: visible;
        opacity: 1;
    }

    a {
        margin: 0 .5rem;
    }

    a:before {
      content: unset;
    }

    li.masthead__menu-item {
        display: block;
        text-align: left; 
        border-bottom: 1px solid $border-color;
        &:last-child {  
            border-bottom: none;
        }

        &:hover a { color: darken($light-gray, 10%);}
    }
}

#site-nav .hidden-links ul.menu-item-children {
    display: none;
}

// Main Content Area

#main {

    padding: 1rem;
    margin-top: 5rem;

    h3 {
        margin-top: 0;
    }

    h1.page__title {
        text-align: center;
        clear: both;
    }

}

.archive__category h1,
h1.page__title {

    color: $primary-color;
    padding-top: 2rem;
    margin-bottom: 0;
    span.en {
        text-transform: capitalize;
    }
}

h1.archive__category.page__title {
    padding-top: 3rem;
}

// Footer

div.page__footer {


        background-color: rgba($light-gray, .9);
        margin-top: 0;

        footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        footer div {
            max-width: 20rem;
        }
        
        a {
            @include color-transition();
            text-decoration: underline;
        }

        a:hover, a:focus {
            color: $salmon;
        }

        .page__footer-follow { 

            a .fa {
                @include color-transition();
            }

            a:hover .fa, a:focus .fa {
                color: $salmon;
            }
        }

        .page__footer-center {
            margin-top: 1em;
            vertical-align: middle;
        }
        .page__footer-copyright {
            margin-top: 1em;
            vertical-align: middle;
        }
}

footer .fa { font-size: 2rem; }

/* ----- end Default Page Layout ----- */

/* ----- Front Page ----- */

.page__hero--overlay {

    top: 9rem;
    height: 75vh;
    min-height: 32rem;
    @include linear-gradient(to bottom, '/assets/images/IslamAly1bio.jpg', rgba($blue,.8) 60%, rgba($gold,.7));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 30rem;
    padding: 1em 0;

    @media screen and (max-width: $x-large) {
        height: 40vh;

    }    

    @media screen and (max-width: $medium) {
        height: 60vh;
    }
    
    @media screen and (max-width: $small) {
        top: 7rem;
        min-height: 45rem;
    }
}

.front-page {

    .page__hero--overlay .page__title {
        display: none;
    }

    p.page__lead {
        font-size: $type-size-5 * 2.4;
        line-height: $type-size-5 * 1.2;

        @media screen and (max-width: $small) {
            font-size: $type-size-5 * 2;
            line-height: $type-size-5 * 1.1;
        }
    }

    .categories-wrap {

        width: 70%;
        float: left;
        padding-top: 3rem;

        @media screen and (max-width: $small){
            width: 100%;
        }

        a.archive__category {
            
            display: block;
            text-decoration: none;

            & h1
            {
                @include color-transition();
                color: $blue;
                margin-bottom: 0;
                padding-top: 0rem;
            }

            &:hover h1 span {
                color: $salmon;    
            }
        }
    }
}

#widgets {

    margin-top: 3rem;
    width: 25%;
    float: right;

    h1.timeline-Header-title.u-inlineBlock { display: none !important; }

    a .fa {
        font-size: $type-size-3;
        line-height: 1.2em;
        padding-bottom: .075em;
    }

    @media screen and (max-width: $small){
        display: none;
    }

    #instagram-feed {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        height: 12rem;
        overflow: scroll;
    
        margin-top: 1rem;
        margin-bottom: 2rem;

        a.post {

            height: 220px;
            width: 220px;
            margin-top: 1rem;

            @include opacity-transition();

            div {
                width: 100%;
                height: 100%;

                background-attachment: center;
                background-size: cover;
            }
        }

        a.post:hover {
            opacity: .75;
        }
    }
}

.category-page #main .category-row {
    justify-content: space-evenly;
}

#main .category-row {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    a h3 {
        position: relative;
        margin-top: 1rem;
        padding-bottom: 1rem;
    }

    a h3:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        background: $salmon;
        width: 100%;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transform: scaleX(0) translate3d(0, 0, 0);
        transform: scaleX(0) translate3d(0, 0, 0);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);    
    }

    a:hover h3:before {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }

    a, a:focus, a:hover {
        text-decoration: none;
    }

    div.feature__item {

        text-align: center;
        margin: .25rem;
        font-size: inherit;
        float: unset;
        max-width: 10rem;

        .archive__item-excerpt p {
            margin-top: 0rem;
            padding-top: 0;
            padding-bottom: 1rem;

            display: none;
        }
    }

    &::after {
        content: unset;
    }

    div.feature__item a:hover .archive__item,
    div.feature__item a:hover .archive__item-excerpt {
        opacity: .75;
        @include background-transition();
    }

    div.feature__item .archive__item {
        height: 10rem;
        width: 10rem;
        background-position: center;
        background-size: cover;
    }
}

/* ----- end Front Page ----- */

/* ----- Single ----- */

// formats post featured image and post image gallery

.layout--single {

    .mfp-arrow-left:after, .mfp-arrow-right:after {
        border-top-width: 25px;
        border-bottom-width: 25px;
    }

    .mfp-arrow-left:before, .mfp-arrow-left .mfp-b,
    .mfp-arrow-right:before, .mfp-arrow-right .mfp-a {
        border-right: unset;
        border-left: unset;
    }
    
    section.page__content {

        & figure {
            justify-content: center;
            margin-bottom: 0;
        }

        & figure p {
            text-align: right;
            display: block;
            position: relative;
            padding: .5em !important;
            width: 100%;
            height: 2em;
            top: -3em;
            // font-size: 2rem;
            background: rgba($light-gray, .5);
            opacity: .75;
        }

        & figure a:hover {
            text-decoration: none !important;
        }

        & > figure a, & > figure a img {
            display: none;
            text-decoration: none;
        }

        & > figure a:first-of-type, & > figure a:first-of-type img {
            display: inline;
        }
    }
}

/* ----- end Single ----- */

/* ----- About ----- */

.about {

    ul.guiding-questions {
        list-style: none;
        border-left: unset;
        border-right: unset;
        display: inline-block;
        width: 45%;
        padding: unset;
        margin: unset;
        margin-top: 1rem;

        @media screen and (max-width: $small){
            display: none;
        }
    }

    ul.guiding-questions li { 
        height: 10rem;
    }

    ul.guiding-questions:first-of-type {
        float: left;
    }

    ul.guiding-questions:last-of-type {
        float: right;
    }

    div#contributing-artists {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        div {
            margin-top: 1rem;
        }

        div, div a{
            width: 300px;
            height: 300px;
            background-size: cover;

            text-decoration: none !important;
            vertical-align: bottom;

            h2 {

                opacity: 0;
                color: $dark-gray;
                height: 75%;
                margin-bottom: 12.5%;
                display: block;
                padding: 100px .5rem 1rem .5rem;
                text-align: center;
                background: rgba($light-gray, .5);

                @include background-transition;
            }
        }

        div a:hover h2,
        div a:focus h2 {
            opacity: 1;
        }

    div div:nth-child(1){
        background-image: url('/assets/images/IslamAly2bio.jpg');
        background-position: center;         
    }
    div div:nth-child(2){
        background-image: url('/assets/images/MaureenCumminsbio1.jpg');        
    }
    div div:nth-child(3){
        background-image: url('/assets/images/ErikRuinbio1.jpeg');        
    }
    div div:nth-child(4){
        background-image: url('/assets/images/CourtneyBowlesbio.jpg');        
    }
    div div:nth-child(5){
        background-image: url('/assets/images/MarkStrandquistbio.jpg');
        background-position: center;       
    }
}
}

.about #contributing-artists {

    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;

    column-gap: 0px;
    -webkit-column-gap: 50px;
    -moz-column-gap: 0px;

    margin-left: 12.5%;
    width: 75%;
    display: block;

    padding-top: 1rem;

    ul {
        padding: unset;
        margin: unset;
        list-style: none;
    }

    @media screen and (max-width: $small){
        column-count: unset;
        -webikit-column-count: unset;
        -moz-column-count: unset;
    }

    li {
        font-family: $sans-serif;
        height: unset;
        text-align: center;
    }

    p {
        padding-top: 1rem;
        text-align: center;
        -webkit-column-span: all;
    }
}


/* ----- end Home ----- */

/* ----- Credits ----- */

#project-team p {
    margin-bottom: 0;
    padding-top: 1rem;
}

img.pew-logo {
    width: 200px;
    padding: 2rem 1rem 3rem 1rem;
}

/*----- end Credits ------ */

/*----- Artists ------ */

#artists .artists-grid {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    > div {
        width: 20em;
        margin-bottom: 1rem;
    }

    .author__avatar {

        text-align: center;

        img {
            display: inline-block;
            min-width: 110px;
        }
    }

    .author__name {
        text-align: center;
    }
}

.archive .author__content,
.artists-grid .author__content  {

    line-height: 1.5rem;

    a {
        text-decoration: none;
        color: $link-color;
        padding-top: 1rem;
    }

    a:hover { text-decoration: none !important;}

    a.more { font-style: italic; }

    hr { margin-top: 0; }
}

.archive > div[itemtype="http://schema.org/Person"] {
    margin-top: 2rem;
    @media screen and (max-width: $x-large) and (min-width: $small) {
        margin-top: 5rem;
    }
}

/*----- end Artists ------ */

/*----- start Exhibition Programming ------ */

#main section.exhibition-programming {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;
    
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;

    .square {

        width: 400px;
    }

    .content {
        width: 50%;

        header {
            padding-top: 0;
            margin-bottom: 1.5rem;

            h1.page__title {
                text-align: left;
                padding-top: 0;
            }
            h3 { 
                color: $primary-color; 
            }
        }
    }

    a.btn {
    
        background-color:$blue;
        color: #fff;
        @include background-color-transition();

      &:hover {
        color: #fff;
        background-color:$salmon;
      }

      // &:visited {
      //   @include yiq-contrasted($blue);
      // }    
    }

    @media screen and (max-width: $medium-wide) {
        .content { width: 100%; }
        .content header {
            padding-top: 1rem;
       } 
    }  
}

/*----- end Exhibition Programming ------ */